*.log

#/.vscode/
#/run/
/natives/
/.packignore
instance.cfg
mmc-pack.json

/.minecraft/asm/
/.minecraft/backups/
/.minecraft/coremods/
/.minecraft/crash-reports/
/.minecraft/journeymap/data/
/.minecraft/journeymap/icon/
/.minecraft/journeymap/*.html
/.minecraft/journeymap/*.json
/.minecraft/journeymap/*.html
/.minecraft/logs/
/.minecraft/mods
/.minecraft/resourcepacks/
/.minecraft/saves/
/.minecraft/screenshots/
/.minecraft/scripts/
/.minecraft/server-resource-packs/
/.minecraft/texturepacks/
/.minecraft/BotaniaVars.dat
/.minecraft/knownkeys.txt
/.minecraft/localconfig.cfg
/.minecraft/minetweaker.log
/.minecraft/options.txt
/.minecraft/usercache.json
/.minecraft/usernamecache.json